
.intro-swiper {
  height: 80%;
  --bullet-background: #ffffff;
  --bullet-background-active: #1db954;
}

.slide-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .intro-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
}

.btn-spotify {
  --border-radius: 500px;
  --background: #1db954;
  --color: black;
  font-weight: 700;
  width: 80%;
}

/* Ejemplo de cómo usar las clases dinámicas */
.slide-1 { --background: #121212; }
.slide-2 { --background: #121212; }