<ion-header>
  <ion-toolbar style="--background: #000000; --border-style: none;">
    <ion-title style="color: white; text-align: center;">Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #121212;">
  <div class="intro-container">
    <ion-title size="large" style="color: white; font-weight: 800;">Soy Intro</ion-title>
    
    <ion-button (click)="goBack()" style="--border-radius: 500px; --background: #1DB954; font-weight: 700;">
      Volver al Home
    </ion-button>
  </div>
</ion-content>