<ion-content style="--background: #121212;">
  
  <swiper-container 
    pagination="true" 
    class="intro-swiper" 
    loop="true">
    
    <swiper-slide *ngFor="let slide of slides" [class]="slide.class">
      <div class="slide-inner ion-padding ion-text-center">
        <div class="img-container">
          <img [src]="slide.image" class="intro-img" />
        </div>
        
        <div class="text-container">
          <h1 class="slide-title">{{ slide.title }}</h1>
          <p class="slide-description">{{ slide.description }}</p>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>

  <div class="button-footer">
    <ion-button (click)="goBack()" class="btn-spotify">
      EMPEZAR A ESCUCHAR
    </ion-button>
  </div>

</ion-content>