// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root{
  --color-claro: #9ed4a8;
  --color-oscuro: #194d20;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}
// --color-fondo-tarjeta: var(--tema-claro-fondo);
//--color-texto-tarjeta
//--color-slide-title
//--espaciado-slide

//--tema-claro-fonfo
//--tema-claro-texto
//--tema-claro-titulo
