/* =========================
   TEMA CLARO (default)
========================= */
:root {
  /* Colores base Ionic */
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;

  --ion-toolbar-background: #ffffff;
  --ion-item-background: #ffffff;

  /* Color principal (verde Spotify) */
  --ion-color-primary: #1db954;

  /* Tus variables personalizadas */
  --color-claro: #9ed4a8;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}

/* =========================
   TEMA OSCURO
========================= */
body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-toolbar-background: #000000;
  --ion-item-background: transparent;
  --ion-tab-bar-background: #000000;

  --ion-color-primary: #1db954;

  /* Tus variables personalizadas en oscuro */
  --color-oscuro: #194d20;
}
