.slide-content{
  text-align: center;
  padding: 10px;
}
.slide-content img{
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10% 0px;

}
.slide-content h2{
  margin: 0;
  font-size: 25px;
  color: rgb(12, 12, 12);
}
.slide-content p {
  font-size: 20px;
  color: #0f840f;
  text-align: justify;
}

.card{
  padding: var(--espacio-base);
  background-color: var(--color-claro);
}

.bg-card-test{
  background-color: rgb(94, 115, 94);
}