<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #000000;">
    
    <ion-buttons slot="start">
      <ion-menu-button style="--color: #1db954;"></ion-menu-button>
    </ion-buttons>

    <ion-title class="spotify-title" style="text-align: center; color: white;">
      Pca music
    </ion-title>

    <ion-buttons slot="end">
      <ion-button disabled style="width: 48px;"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container pagination="true" loop="true" slides-per-view="1" class="genre-swiper">
    <swiper-slide *ngFor="let genre of genres">
      <div class="slide-content ion-padding">
        <img [src]="genre.image" [alt]="genre.title" class="genre-image" />
        
        <h2 class="genre-title">
          {{ genre.title }}
        </h2>
        
        <p *ngIf="genre.description" class="genre-description">
          {{ genre.description }}
        </p>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-card class="music-card">
    <ion-card-header>
      <ion-card-title>Vive la música</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sonidos que atraviesan siglos. Desde la elegancia de Mozart, la intensidad de Beethoven y la profundidad de Bach, ideal para estudiar o simplemente respirar.
    </ion-card-content>
  </ion-card>

  <div class="button-container ion-padding">
    <ion-button expand="block" color="tertiary" (click)="irAIntro()" class="btn-intro">
      VER INTRO DE NUEVO
    </ion-button>
  </div>

</ion-content>