.home-title {
  font-weight: 800;
  margin-top: 25px;
  font-size: 1.7rem;
  color: var(--ion-text-color);
}

.home-subtitle {
  font-weight: 700;
  color: #1db954;
  margin-bottom: 15px;
}

/* Diseño de los Slides */
.genre-card {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .genre-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    color: white;

    h2 { margin: 0; font-size: 1.4rem; font-weight: bold; }
    p { margin: 5px 0 0; font-size: 0.85rem; opacity: 0.8; }
  }
}

/* Diseño de la Cuadrícula */
.song-card {
  margin-bottom: 15px;
  .image-wrapper {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    img { width: 100%; height: 100%; object-fit: cover; }
    .play-fab {
      position: absolute; bottom: 8px; right: 8px;
      --border-radius: 50%; width: 36px; height: 36px;
      ion-icon { color: black; }
    }
  }
  .song-info {
    padding: 8px 2px;
    .song-name { font-weight: 700; color: var(--ion-text-color); font-size: 0.9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .song-artist { color: #666; font-size: 0.8rem; }
  }
}

body.dark .song-artist { color: #b3b3b3; }